body {
    text-align: center;
    font-family: Arial, sans-serif;
}
table {
    margin: auto;
    border-collapse: collapse;
}
td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
}

